async-generator
backports.functools-lru-cache
certifi
cytoolz
dask
fonttools
importlib-metadata
jupyter
mahotas
mkl-fft
mkl-random
mkl-service
munkres
olefile
pyqt5
pyqt5-sip
pyqtchart
pyqtwebengine
scikit-image
scikit-learn
sip
